.Skills__wrapper{
    width: 50%;
    
    @media screen and (max-width: 768px) {
        padding-bottom: 10%;
        width: 100%;
    }

    .Skills__Container{

        .Skill{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 2% 0;
            
            &__Name{
                width: 100px;
                background-color: #ff7242;
                color: #ffff;
                font-size: .9em;
                height: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            progress {
                border-radius: 0.125rem; 
                width: 40%;
                height: 1.5rem;
                // transition-property: width;
                
                // margin-left: -11.5%;
                // box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
              }
            progress::-webkit-progress-bar {
            background-color: #eeeeee;
            border-radius: 0.125rem; 
            }
            progress::-webkit-progress-value {
            background-color: #ff6129;
            border-radius: 0.125rem; 
            }
            progress::-moz-progress-bar {
                background-color: #ff6129;
                border-radius: 0.125rem; 
            }
            progress:indeterminate::-moz-progress-bar {
                width: 0;
              }
           

            &__Pre{
                color: #000;
                background: #eeee;
                padding: 0 2%;
                height: 1.5rem;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }

}