.Contact__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #252934;
    // height: 80vh;

    .Heading{
        color: #ffffff;
        font-size: 25pt;
        margin: 10% 0 0;
        border-bottom: 5px solid #ffffff; 
        text-transform: uppercase;
    }

    .para{
        color: #ff7242;
        margin: 3% 0 2% 0;
        text-align: center;
    }

    .Form{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        width: 80%;
        margin-bottom: 15%;

        @media screen and (min-width:481px) and (max-width:786px){
            width: 60%;
            margin-bottom: 5%;
        }
        @media screen and (min-width:786px) {
            width: 500px;
            margin-bottom: 5%;
        }

        &>input{
            outline: none;
            margin: 1% 0;
            border: 0;
            color: #ffffff;
            font-size: 1em;
            padding: 10px 5px;
            background-color: #1e242c;

            &::placeholder{
                background-color: #1e242c;
                color: #ffffff77;
            }
        }
        &__Submit{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            &>input{
                padding: 10px 5px;
                font-size: 1em;
                color: #FFFF;
                width: 150px;
                margin: 10px 0 0 0;
                border: 1px solid #ffffff;
                background-color: #1e242c;

                &:hover{
                    background-color: #ff7242;
                    border: 1px solid #ff7242;
                    transition: all 0.3s ease-in-out;
                }
            }

        }

    }
}