.Projects__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100vh;

    .Heading{
        color: #444649;
        font-size: 25pt;
        margin: 6% 0 0 0;
        border-bottom: 5px solid #444649; 
        text-transform: uppercase;
        @media screen and (max-width:768px) {
            margin: 12% 0 0 0;
        }
    }

    .Container{
        padding: 5% 0;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card{
            position: relative;
            margin: 4% 2%;
            transition: all 0.3s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img{
                opacity: 1;
            }
            .imgHover{
                z-index: -2;
                opacity: 0;
                display: flex;
                position: absolute;
                top: 10px;
                flex-direction: column;
                align-content: center;
                align-items: center;
                transition: all 0.3s ease-in-out;

                .name{
                    font-size: 16pt;
                    font-weight: 600;
                    margin-top: 20px;
                }

                .tech{
                    font-size: 12pt;
                    color: #ff7242;
                }

                .toCode{
                    margin: 50px 0;
                    a{
                        padding: 10px;
                        font-size: 12pt;
                        border-radius: 0.125rem;
                        box-sizing: border-box;
                        border: 1px solid #ff7242;
                        text-align: center;
                        width: 105px;

                    }

                    &:hover{
                        a{
                            border: 1px solid #ff7242;
                            background-color: #ff7242;
                            color: #FFFF;
                        }

                    }
                }
            }

            &:hover{
                &>.img{
                    opacity: 0.2;
                }
                &>.imgHover{
                    display: flex;
                    opacity: 1;
                    z-index: 0;
                }
            }
        }
    }
}