.Projects__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: linear-gradient(#f7fff6,#E2DBBE);


    .Heading{
        color: #444649;
        font-size: 25pt;
        margin: 6% 0 0 0;
        border-bottom: 5px solid #444649; 
        text-transform: uppercase;
        @media screen and (max-width:768px) {
            margin: 12% 0 0 0;
        }
    }

    .Container{
        padding: 5% 0 0 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        @media screen and (max-width:768px) {
           flex-direction: column;
        }

        .card{
            width: 100vw;
            height: 75vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            @media screen and (max-width:768px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
             }

            .img{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 75%;
                // box-shadow: 0 0 20px 15px #91918d5e;
                img{
                    // box-shadow: 0 0 20px 15px #91918d5e;
                    border-radius: 1rem;
                }
            }
    
            .projectData{
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                transition: all 0.3s ease-in-out;
        
                .name{
                    font-size: 16pt;
                    font-weight: 600;
                    margin-top: 20px;
                    color: rgb(49, 46, 46);
                }
        
                .tech{
                    font-size: 12pt;
                    font-weight: 600;
                    color: #e31b6d;
                }
        
                .toCode{
                    margin: 10px 0;

                    .codeImg{
                        width: 100%;
                        margin:  0 10px ;
                    }
                }
            }
        }

    }
}