@font-face {
  font-family: "Montserrat";
  src: url('../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  height: auto;
  font-family: "Montserrat";
  background-color: #ffffff;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Typewriter{
  margin: 0 6%;
  .Typewriter__wrapper{
    font-size: 1em;
    @media screen and (max-width:768px) {
      font-size: 0.7em;
    }
    @media screen and (min-width:1300px) {
      font-size: .9em;
    }
    @media screen and (min-width:1300px) {
      font-size: 1.1em;
    }
  }
}