.About__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #f7fff6;
    
    .Heading{
        color: #444649;
        font-size: 25pt;
        margin: 6% 0 0 0;
        border-bottom: 5px solid #444649; 
        text-transform: uppercase;
        @media screen and (max-width:768px) {
            margin: 12% 0 0 0;
        }
    }
    .Container{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    
        @media screen and (max-width:768px) {
            flex-direction: column;
        }
    }
}